<mat-toolbar color="primary">
  <span>{{ algData?.name || 'Algoritmo' }}</span>
  <span class="spacer"></span>
  <button mat-button color="accent" (click)="toggleInput()">
    <span>{{ showInput ? 'Cerrar' : 'Agregar Alg' }}</span>
    <mat-icon>{{ showInput ? 'close' : 'add' }}</mat-icon>
  </button>
</mat-toolbar>

<div class="alg-detail-container" *ngIf="algData">
  <form
    #formEl
    [hidden]="!showInput"
    (submit)="addAlgorithm(); $event.preventDefault();"
    class="alg-form"
  >
    <mat-form-field appearance="outline" class="alg-input">
      <mat-label>Algoritmo</mat-label>
      <input matInput [(ngModel)]="newAlg" name="newAlg" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Agregar</button>
  </form>

  <div class="alg-detail-content" [class.shifted]="showInput">
    <img
      *ngIf="isString(algData.image)"
      [src]="algData.image"
      alt="{{ algData.name }}"
    />
    <ng-container *ngIf="isArray(algData.image)">
      <img
        *ngFor="let img of algData.image"
        [src]="img"
        [alt]="algData.name"
        class="multi-image"
      />
    </ng-container>

    <h3 class="ion-margin-top">Algoritmos:</h3>
    <ul>
      <li *ngFor="let notation of algData.algs; let i = index">
        <p class="alg-line">
          {{ notation }}
          <span class="alg-actions">
            <button
              mat-icon-button
              color="warn"
              (click)="toggleFavorite(notation)"
            >
              <mat-icon>
                {{ isFavorite(notation) ? 'star' : 'star_border' }}
              </mat-icon>
            </button>

            <button
              *ngIf="isCustomAlg(notation)"
              mat-icon-button
              color="warn"
              (click)="removeAlgorithm(notation)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </span>
        </p>
      </li>
    </ul>
  </div>
</div>
