<mat-toolbar color="primary">
  <span>{{ setData?.name || 'Set de algoritmos' }}</span>
</mat-toolbar>

<div class="case-container">
  <div class="case-grid">
    <mat-card
      *ngFor="let case of setData.cases"
      class="case-card"
      (click)="goToAlgorithm(case.id)"
    >
    <mat-card-content>
        <mat-card-title>{{ case.name }}</mat-card-title>
        <img *ngIf="case.image" [src]="case.image" alt="{{ case.name }}" />
        <p>{{ getPreviewAlg(case.id, case.algs) }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
