<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          email
          #emailInput="ngModel"
        ></ion-input>
      </ion-item>
      <ion-note
        *ngIf="emailInput.touched && emailInput.errors?.['required']"
        color="danger"
      >
        El correo es requerido.
      </ion-note>
      <ion-note
        *ngIf="emailInput.touched && emailInput.errors?.['email']"
        color="danger"
      >
        El formato del correo no es válido.
      </ion-note>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          #passwordInput="ngModel"
        ></ion-input>
      </ion-item>
      <ion-note
        *ngIf="passwordInput.invalid && passwordInput.touched"
        color="danger"
      >
        La contraseña es requerida.
      </ion-note>

      <ion-button
        expand="block"
        type="submit"
        class="ion-margin-top login-button"
        [disabled]="loginForm.invalid"
      >
        Iniciar sesión
      </ion-button>
    </form>
  </div>
</ion-content>
