<mat-toolbar color="primary">
  <span>Login</span>
</mat-toolbar>

<div class="login-wrapper" #loginWrapper>
  <form (ngSubmit)="onSubmit()" novalidate class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="username"
        name="username"
        required
        minlength="3"
        maxlength="8"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        maxlength="4"
        inputmode="numeric"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="login-button"
    >
      Ingresar
    </button>
  </form>
</div>
