.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  padding: 0 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login-button {
  align-self: center;
  width: 100%;
  max-width: 300px;
}
